.breadcrumbs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-left: 50px;

    .link{
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
        color: #083052;
    }

    .icon{
        font-size: 40px;
        font-weight: 600;
        color: #083052;
    }
    .active{
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
        color: #1869b3;
    }

}

@media screen and (max-width: 990px){
    .breadcrumbs{
        gap: 10px;
        padding-left: 30px;
    
        .link{
            font-size: 20px;
        }
    
        .icon{
            font-size: 30px;
        }
        .active{
            font-size: 20px;
        }
    
    }
}

@media screen and (max-width: 768px){
    .breadcrumbs{
        gap: 2px;
        padding-left: 20px;
        flex-wrap: wrap;
    
        .link{
            font-size: 14px;
            font-weight: 700;
        }
    
        .icon{
            font-size: 25px;
        }
        .active{
            font-size: 14px;
            font-weight: 700;
        }
    
    }
}